<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Flask Study</title>
    </head>
    <body>
        <div class="Top_menu">
            <a href="/">Main</a>
            <a href="/post">Post</a>
            <a href="/write">Write</a>
        {% if user %}
            <form action="/logout" method="POST">
                <input type="submit" value="Logout" />
            </form>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
